@{
    ViewData["Title"] = "Home Page";
}

@{
    ViewData["Title"] = "Home Page";
}

@*This creates the slider on the page*@
<partial name="_CookieConsentPartial" />
<div class="hero-slider">
    <div class="slider-item th-fullpage hero-area" style="background-image: url(img/slider/Utah-DOT.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">
                        Utah Department <br>
                        of Transportation
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">
                        Our goal is to educate on crash statistics in Utah <br> and encourage all those with the
                        power to help change them <br> for the better.
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" asp-controller="Home" asp-action="ViewCrashes">Explore Data</a>
                </div>
            </div>
        </div>
    </div>
    <div class="slider-item th-fullpage hero-area" style="background-image: url(img/slider/james-lee-5f-YVZcG0RI-unsplash.jpg); ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">
                        We Combine Machine Learning <br> and
                        User Interactivity
                    </h1>
                    <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">
                        See just what you need
                        to understand the Utah Stats.
                    </p>
                    <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8" class="btn btn-main" asp-controller="Home" asp-action="StatsBreakdown">Explore Detailed Statistics</a>
                </div>
            </div>
        </div>
    </div>
</div>




<!--
Start About Section
==================================== -->
<section class="service-2 section">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Why do we have this site?</h2>
                    <p>
                        This site is meant to educate and inform all drivers (especially those
                        more at risk such as those in traffic school and Driver's Education) and
                        allow them to see the severity of crashes that come from common situations.
                    </p>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>

            <div class="col-md-4 text-center">
                <img src="img/saul-flores-tyQkPhPCZhY-unsplash.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-8">
                <div class="row text-center">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item" style="background-color:white">
                            <i class="tf-ion-ios-alarm-outline"></i>
                            <h4>List of Incidents</h4>
                            <p><a asp-controller="Home" asp-action="ViewCrashes">See all the incidents and their locations.</a></p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item" style="background-color:white">
                            <i class="tf-ion-ios-briefcase-outline"></i>
                            <h4>Deeper breakdown of stats</h4>
                            <p><a asp-controller="Home" asp-action="StatsBreakdown">These charts analyze some of the common trends in the data.</a></p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item" style="background-color:white">
                            <i class="tf-ion-ios-email-outline"></i>
                            <h4>Story Building</h4>
                            <p><a asp-controller="Home" asp-action="Story">Build a story and see the severity of the crash it predicts.</a></p>
                        </div>
                    </div><!-- END COL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="service-item" style="background-color:white">
                            <i class="tf-ion-ios-locked-outline"></i>
                            <h4>Adding Incidents to the system</h4>
                            <p><a asp-controller="Home" asp-action="AddCrash">If one is authorized and works for UDOT, they can log in and enter more data.</a></p>
                        </div>
                    </div><!-- END COL -->
                </div>
            </div>
        </div> <!-- End row -->
    </div> <!-- End container -->
</section> <!-- End section -->
